
<head>
    <%- include('./css/style'); %>
    <title>Excel To CSV</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
 </head>
<body>
    <% if(message=="Success"){ %>
        <h1 id="idOfBlock" style="color: green; font-family: Arial, Helvetica, sans-serif;"></h1>
        <script>
            document.getElementById("idOfBlock").innerText ="Conversion Completed";
    setTimeout(function(){
        document.getElementById("idOfBlock").innerText = '';
    }, 1000);
        </script>
      <% } %>
      <% if(message=="Error"){ %>
        <h1 id="idOfBlock" style="color: rgb(237, 14, 14); font-family: Arial, Helvetica, sans-serif;"></h1>
        <script>
            document.getElementById("idOfBlock").innerText ="Conversion Failed";
    setTimeout(function(){
        document.getElementById("idOfBlock").innerText = '';
    }, 1000);
        </script>
      <% } %>
 <form action="/setdir" method="post">
    <label for="team_name">
        Enter default Excel Files Folder    
    </label>
    <input
      id="team_name"
      type="text"
      name="excel_dir"
      placeholder="Enter Excel files dir name"
      value=<%= excel %> 
      />
      <br>
      <label for="team_name">
        Enter default CSV Files Folder     
    </label>
    <input
      id="team_name"
      type="text"
      name="csv_dir"
      placeholder="Enter CSV files dir name"
      value=<%= csv %> 
      />
    <br>  
    <input id="sub" type="submit" value="Set Folders" />
    <form class="convertor"  action="/convert" method="post">
        <input id="sub" type="submit" formaction="/convert" value="Convert Excel To CSV" /> 
    </form>  
  </form> 

</body>